/*style.css*/
body{
    font-family: Roboto,'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.header {
    background-color: #05022799;
    display: flex;
    flex-direction: column;
    height: 300px;
    margin-bottom: 10px;
}
.navbar {
    background-color: #3426d099;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
}
.left-links li {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.left-links {
    flex-grow: 1;
    font-size: x-large;
    font-weight: 900;
}
.left-links a {
    color: yellow;
}
.right-links {
    margin: 0;
}
.navbar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    display: block;
    text-align: center;
    padding: 10px;
}
.navbar li a::before {
    color: #3426d099;
}
.navbar li a:hover {
    color: yellow;
}

.hero{
    background-color: rgb(23, 23, 79);
    display: flex;
    justify-content: center;
    padding: 30px 10px 30px 10px;
    gap: 30px;
    
}
.hero-text{
    /*background-color: rgb(106, 96, 83);*/
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}
.hero-text h1{
    margin: 0;
    color: yellow;
}
.hero-text p {
    color: aliceblue;
}
.hero-img img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid #fff;
}
.menu-container {
    display: flex;
    background-color: #3426d099;
    justify-content: center;
}
.menu-box img {
    width: 180px;
    height: 700px;
    border: 2px solid #fff;
    margin: 5px;
    border-radius: 8px;
}
.footer {
    background-color: rgb(23, 23, 79);
    
}
.copyright {
    text-align: center;
    color: #fff;
    padding: 30px 0;
}
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer ul {
    list-style: none;
    padding: 0;
}
.footer a {
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    padding: 10px;  
}
.heading a {
    font-size: 16px;
}